body {
    background-color: rgba(139, 210, 243, 0.712);
}

button {
    width:100px;
    height: 35px;
    flex-direction: column;
    display:flex;
    text-align: center;
    color: black;
    background-color: orange;
    border-radius: 3pt;
    border-color: whitesmoke;
    margin: 5px;
}

p {
    width: 70%;
}

#addQuote {
    width: 500px;
}